@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a1128;
  --foreground: #fafafa;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom Selection */
::selection {
  background: #0066ff;
  color: #ffffff;
}
::-moz-selection {
  background: #0066ff;
  color: #ffffff;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
